In [1]:
import pandas as pd

In [2]:
userdata = {
    'name': ['Bhavesh','Sandesh','Bhagyashri'],
    'age': [20, 21, 22],
    'salary': [50000, 60000, 70000],
    'gender':['Male','Male','Female']
}
user_df = pd.DataFrame(userdata)
print(user_df)

         name  age  salary  gender
0     Bhavesh   20   50000    Male
1     Sandesh   21   60000    Male
2  Bhagyashri   22   70000  Female

In [5]:
print(f'second index is : {user_df.iloc[1]}')

second index is : name      Sandesh
age            21
salary      60000
gender       Male
Name: 1, dtype: object

In [7]:
first_username = user_df.iloc[0]['salary']
print(first_username)

50000

In [6]:
first_username = user_df.iloc[0]
print(first_username['name'])

Bhavesh

In [4]:
first_index_0 = user_df.loc[0]
print(first_index_0)

name      Bhavesh
age            20
salary      50000
gender       Male
Name: 0, dtype: object

In [8]:
sales_data = [
    {
        'product': 'Laptop',
        'price': 1000,
        'quantity': 5
    },
    {
        'product': 'Smartphone',
        'price': 500,
        'quantity': 10
    },
    {
        'product': 'Tablet',
        'price': 300,
        'quantity': 7
    }]

In [9]:
sales_df = pd.DataFrame(sales_data,index = ['d','r','t'])
print(sales_df)

      product  price  quantity
d      Laptop   1000         5
r  Smartphone    500        10
t      Tablet    300         7

In [ ]:
""" 
while iloc is used to access a group of rows and columns by integer position.
"""
sales_df_loc = sales_df.iloc[0] 
print(sales_df_loc)

product     Laptop
price         1000
quantity         5
Name: d, dtype: object

In [ ]:
"""
loc is used to access a group of rows and columns by labels or a boolean array,
"""
sales_df_loc = sales_df.loc['r'] #loc is used to access a group of rows and columns by labels or a boolean array, while iloc is used to access a group of rows and columns by integer position.
print(sales_df_loc)

product     Smartphone
price              500
quantity            10
Name: r, dtype: object

In [10]:
print(sales_df['product'])

d        Laptop
r    Smartphone
t        Tablet
Name: product, dtype: object

In [ ]:
col_name = ['product','quantity']
names = sales_df[col_name]
print(names)

      product  quantity
d      Laptop         5
r  Smartphone        10
t      Tablet         7

In [20]:
col_name = ['product','quantity']
names = sales_df[col_name].iloc[0]
print(names)

product     Laptop
quantity         5
Name: d, dtype: object

In [21]:
print(sales_df[['product','quantity']].iloc[0])

product     Laptop
quantity         5
Name: d, dtype: object