In [1]:
import pandas as pd


pop_10_19 = pd.read_csv("./databases/population-2010-2019.csv", skiprows=2)
#
#pop_20_29 = pd.read_csv("./pop_data/population-2020-2029.csv")

#pop_30_39 = pd.read_excel("./pop_data/population-2030-2040.xlsx")

In [2]:
pop_10_19.head()

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,4,Afghanistan,2010.0,0-4,0.0,5.0,2715.070,2600.535,5315.605
1,8,Albania,2010.0,0-4,0.0,5.0,92.622,81.239,173.861
2,12,Algeria,2010.0,0-4,0.0,5.0,1966.415,1885.869,3852.284
3,24,Angola,2010.0,0-4,0.0,5.0,2233.041,2239.035,4472.076
4,28,Antigua and Barbuda,2010.0,0-4,0.0,5.0,3.543,3.436,6.979

In [3]:
pop_10_19.describe()

,LocID,Time,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
count,41795.000000,41790.000000,41790.000000,41790.000000,41790.000000,41790.000000,41790.000000
mean,443.678789,2014.500000,50.000000,4.714286,878.600738,863.606296,1742.207034
std,275.319329,2.872316,30.276866,1.277768,4280.285697,3978.167523,8255.483777
min,4.000000,2010.000000,0.000000,-1.000000,0.000000,0.000000,0.000000
25%,218.000000,2012.000000,25.000000,5.000000,8.155000,10.139500,18.934250
50%,428.000000,2014.500000,50.000000,5.000000,87.622000,99.384000,190.157500
75%,662.000000,2017.000000,75.000000,5.000000,415.094500,434.797750,852.310750
max,1835.000000,2019.000000,100.000000,5.000000,67528.067000,62954.207000,130144.737000

In [4]:
pop_10_19['AgeGrp'].value_counts(normalize=True) * 100

AgeGrp
0-4          4.761905
05. Sep      4.761905
Okt 14       4.761905
15-19        4.761905
20-24        4.761905
25-29        4.761905
30-34        4.761905
35-39        4.761905
40-44        4.761905
45-49        4.761905
50-54        4.761905
55-59        4.761905
60-64        4.761905
65-69        4.761905
70-74        4.761905
75-79        4.761905
80-84        4.761905
85-89        4.761905
90-94        4.761905
905. Sep9    4.761905
100+         4.761905
Name: proportion, dtype: float64

In [5]:
pop_10_19['AgeGrp'].value_counts()

AgeGrp
0-4          1990
05. Sep      1990
Okt 14       1990
15-19        1990
20-24        1990
25-29        1990
30-34        1990
35-39        1990
40-44        1990
45-49        1990
50-54        1990
55-59        1990
60-64        1990
65-69        1990
70-74        1990
75-79        1990
80-84        1990
85-89        1990
90-94        1990
905. Sep9    1990
100+         1990
Name: count, dtype: int64

In [6]:
pop_10_19['AgeGrp'].unique()

array(['0-4', nan, '05. Sep', 'Okt 14', '15-19', '20-24', '25-29',
       '30-34', '35-39', '40-44', '45-49', '50-54', '55-59', '60-64',
       '65-69', '70-74', '75-79', '80-84', '85-89', '90-94', '905. Sep9',
       '100+'], dtype=object)

In [7]:
pop_10_19['AgeGrp'] = pop_10_19['AgeGrp'].replace('05. Sep', '5-9')

In [8]:
pop_10_19['AgeGrp'].unique()

array(['0-4', nan, '5-9', 'Okt 14', '15-19', '20-24', '25-29', '30-34',
       '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69',
       '70-74', '75-79', '80-84', '85-89', '90-94', '905. Sep9', '100+'],
      dtype=object)

In [9]:
pop_10_19['AgeGrp'] = pop_10_19['AgeGrp'].replace('Okt 14', '10-14')

In [10]:
pop_10_19['AgeGrp'].unique()

array(['0-4', nan, '5-9', '10-14', '15-19', '20-24', '25-29', '30-34',
       '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69',
       '70-74', '75-79', '80-84', '85-89', '90-94', '905. Sep9', '100+'],
      dtype=object)

In [11]:
pop_10_19['AgeGrp'] = pop_10_19['AgeGrp'].replace('905. Sep9', '95-99')

In [12]:
pop_10_19['AgeGrp'].unique()

array(['0-4', nan, '5-9', '10-14', '15-19', '20-24', '25-29', '30-34',
       '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69',
       '70-74', '75-79', '80-84', '85-89', '90-94', '95-99', '100+'],
      dtype=object)

In [13]:
pop_10_19['AgeGrp'] = pop_10_19['AgeGrp'].replace('100+', '100-104')

In [14]:
pop_10_19['AgeGrp'].unique()

array(['0-4', nan, '5-9', '10-14', '15-19', '20-24', '25-29', '30-34',
       '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69',
       '70-74', '75-79', '80-84', '85-89', '90-94', '95-99', '100-104'],
      dtype=object)

In [15]:
pop_10_19[pop_10_19['AgeGrp'].isna()]

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
39,111,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,111,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,111,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,111,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,111,China,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
pop_10_19 = pop_10_19[pop_10_19['AgeGrp'].notna()]

In [17]:
pop_10_19['AgeGrp'].unique()

array(['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '95-99', '100-104'],
      dtype=object)

In [18]:
pop_10_19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41790 entries, 0 to 41794
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LocID        41790 non-null  int64
 1   Location     41790 non-null  object
 2   Time         41790 non-null  float64
 3   AgeGrp       41790 non-null  object
 4   AgeGrpStart  41790 non-null  float64
 5   AgeGrpSpan   41790 non-null  float64
 6   PopMale      41790 non-null  float64
 7   PopFemale    41790 non-null  float64
 8   PopTotal     41790 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 3.2+ MB

In [19]:
pop_10_19.isna().sum()

LocID          0
Location       0
Time           0
AgeGrp         0
AgeGrpStart    0
AgeGrpSpan     0
PopMale        0
PopFemale      0
PopTotal       0
dtype: int64

In [20]:
pop_10_19.describe()

,LocID,Time,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
count,41790.000000,41790.000000,41790.000000,41790.000000,41790.000000,41790.000000,41790.000000
mean,443.718593,2014.500000,50.000000,4.714286,878.600738,863.606296,1742.207034
std,275.311748,2.872316,30.276866,1.277768,4280.285697,3978.167523,8255.483777
min,4.000000,2010.000000,0.000000,-1.000000,0.000000,0.000000,0.000000
25%,218.000000,2012.000000,25.000000,5.000000,8.155000,10.139500,18.934250
50%,428.000000,2014.500000,50.000000,5.000000,87.622000,99.384000,190.157500
75%,662.000000,2017.000000,75.000000,5.000000,415.094500,434.797750,852.310750
max,1835.000000,2019.000000,100.000000,5.000000,67528.067000,62954.207000,130144.737000

In [21]:
pop_10_19 = pop_10_19.rename(columns={'Time': 'Year'})

In [22]:
pop_10_19.head()

,LocID,Location,Year,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,4,Afghanistan,2010.0,0-4,0.0,5.0,2715.070,2600.535,5315.605
1,8,Albania,2010.0,0-4,0.0,5.0,92.622,81.239,173.861
2,12,Algeria,2010.0,0-4,0.0,5.0,1966.415,1885.869,3852.284
3,24,Angola,2010.0,0-4,0.0,5.0,2233.041,2239.035,4472.076
4,28,Antigua and Barbuda,2010.0,0-4,0.0,5.0,3.543,3.436,6.979

In [23]:
pop_10_19['Year'] = pop_10_19['Year'].isna().sum()

In [24]:
pop_10_19['Year'] = pop_10_19['Year'].astype(int)

In [25]:
pop_10_19 = pop_10_19.drop(columns=['AgeGrpStart', 'AgeGrpSpan', 'PopTotal'])

In [26]:
pop_10_19.head()

   LocID             Location  Year AgeGrp   PopMale  PopFemale
0      4          Afghanistan     0    0-4  2715.070   2600.535
1      8              Albania     0    0-4    92.622     81.239
2     12              Algeria     0    0-4  1966.415   1885.869
3     24               Angola     0    0-4  2233.041   2239.035
4     28  Antigua and Barbuda     0    0-4     3.543      3.436

In [27]:
%store pop_10_19

Stored 'pop_10_19' (DataFrame)

C:\Users\sonal\AppData\Roaming\Python\Python310\site-packages\IPython\extensions\storemagic.py:229: UserWarning: This is now an optional IPython functionality, setting autorestore/pop_10_19 requires you to install the `pickleshare` library.
  db[ 'autorestore/' + arg ] = obj

In [28]:
pop_10_19['Year'] = pop_10_19['Year'].astype(int)

In [29]:
pop_10_19

       LocID             Location  Year   AgeGrp   PopMale  PopFemale
0          4          Afghanistan     0      0-4  2715.070   2600.535
1          8              Albania     0      0-4    92.622     81.239
2         12              Algeria     0      0-4  1966.415   1885.869
3         24               Angola     0      0-4  2233.041   2239.035
4         28  Antigua and Barbuda     0      0-4     3.543      3.436
...      ...                  ...   ...      ...       ...        ...
41790    430              Liberia     0  100-104     0.000      0.000
41791    882                Samoa     0  100-104     0.000      0.000
41792    768                 Togo     0  100-104     0.000      0.000
41793    776                Tonga     0  100-104     0.000      0.000
41794    548              Vanuatu     0  100-104     0.000      0.000

[41790 rows x 6 columns]

In [30]:
pop_10_19

       LocID             Location  Year   AgeGrp   PopMale  PopFemale
0          4          Afghanistan     0      0-4  2715.070   2600.535
1          8              Albania     0      0-4    92.622     81.239
2         12              Algeria     0      0-4  1966.415   1885.869
3         24               Angola     0      0-4  2233.041   2239.035
4         28  Antigua and Barbuda     0      0-4     3.543      3.436
...      ...                  ...   ...      ...       ...        ...
41790    430              Liberia     0  100-104     0.000      0.000
41791    882                Samoa     0  100-104     0.000      0.000
41792    768                 Togo     0  100-104     0.000      0.000
41793    776                Tonga     0  100-104     0.000      0.000
41794    548              Vanuatu     0  100-104     0.000      0.000

[41790 rows x 6 columns]

In [31]:
pop_10_19.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41790 entries, 0 to 41794
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LocID      41790 non-null  int64
 1   Location   41790 non-null  object
 2   Year       41790 non-null  int64
 3   AgeGrp     41790 non-null  object
 4   PopMale    41790 non-null  float64
 5   PopFemale  41790 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 2.2+ MB

In [32]:
import os

os.makedirs("clean_datasets", exist_ok=True)
pop_10_19.to_csv("clean_datasets/population-2010-2019.csv", index=False)