In [1]:
import pandas as pd
pop_30_39 = pd.read_excel("./databases/population-2030-2040.xlsx")

In [2]:
pop_30_39.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45976 entries, 0 to 45975
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LocID        45969 non-null  float64
 1   Location     45969 non-null  object
 2   Time         45969 non-null  float64
 3   AgeGrp       45969 non-null  object
 4   AgeGrpStart  45969 non-null  float64
 5   AgeGrpSpan   45969 non-null  float64
 6   PopMale      45969 non-null  object
 7   PopFemale    45969 non-null  float64
 8   PopTotal     45969 non-null  float64
dtypes: float64(6), object(3)
memory usage: 3.2+ MB

In [3]:
pop_30_39['AgeGrp'].unique()

array(['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '95-99', nan, '100+'],
      dtype=object)

In [4]:
pop_30_39['AgeGrp'].isna().sum()

np.int64(7)

In [5]:
# rows with any NaN
na_rows = pop_30_39[pop_30_39.isna().any(axis=1)]
na_rows

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
4701,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4702,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4703,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4705,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4707,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
# drop any rows that still contain NaN values (removes them from the DataFrame)
pop_30_39 = pop_30_39.dropna()

# alternatively, to drop columns with any NaN:
# pop_30_39 = pop_30_39.dropna(axis=1)

# verify there are no more missing values
pop_30_39.isna().sum()

LocID          0
Location       0
Time           0
AgeGrp         0
AgeGrpStart    0
AgeGrpSpan     0
PopMale        0
PopFemale      0
PopTotal       0
dtype: int64

In [7]:
pop_30_39['AgeGrp'].unique()

array(['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '95-99', '100+'], dtype=object)

In [8]:
pop_30_39['AgeGrp']= pop_30_39['AgeGrp'].replace('100+', '100-104')

In [9]:
pop_30_39['AgeGrp'].unique()

array(['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '95-99', '100-104'],
      dtype=object)

In [10]:
pop_30_39['PopMale'].sort_values(ascending=False)

4730     ERROR_6.246
38152       9991.877
16618        999.716
42579        999.687
16601        999.482
            ...
45825              0
45826              0
45827              0
45828              0
45816              0
Name: PopMale, Length: 45969, dtype: object

In [11]:
pop_30_39[pop_30_39['PopMale'] == 'ERROR_6.246']

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
4730,634.0,Qatar,2031.0,80-84,80.0,5.0,ERROR_6.246,2.733,8979.0

calcuate PopMale by substracting PopTotal - PopFemale and repalce value where pop_30_39['PopMale'] == 'ERROR_6.246'

In [12]:
# Replace 'ERROR_6.246' in PopMale with PopTotal - PopFemale
mask = pop_30_39['PopMale'] == 'ERROR_6.246'
mask
pop_30_39.loc[mask, 'PopMale'] = pop_30_39.loc[mask, 'PopTotal'] - pop_30_39.loc[mask, 'PopFemale']

In [13]:
pop_30_39['PopMale'] = pop_30_39['PopMale'].astype(float)

In [14]:
pop_30_39.sort_values('PopMale', ascending=False)

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
9046,356.0,India,2032.0,25-29,25.0,5.0,65742.205,58854.041,124596.246
14817,356.0,India,2033.0,25-29,25.0,5.0,65703.152,59007.622,124710.774
6857,356.0,India,2031.0,25-29,25.0,5.0,65668.556,58618.863,124287.419
1627,156.0,China,2030.0,40-44,40.0,5.0,65550.248,61689.278,127239.526
1079,356.0,India,2030.0,25-29,25.0,5.0,65548.912,58386.303,123935.215
...,...,...,...,...,...,...,...,...,...
45836,678.0,Sao Tome and Principe,2038.0,100-104,100.0,-1.0,0.000,0.002,0.002
45835,882.0,Samoa,2038.0,100-104,100.0,-1.0,0.000,0.001,0.001
45834,296.0,Kiribati,2038.0,100-104,100.0,-1.0,0.000,0.005,0.005
45833,624.0,Guinea-Bissau,2038.0,100-104,100.0,-1.0,0.000,0.000,0.000
45816,296.0,Kiribati,2036.0,100-104,100.0,-1.0,0.000,0.004,0.004

In [15]:
pop_30_39[pop_30_39['PopMale'] == 'ERROR_6.246']

Empty DataFrame
Columns: [LocID, Location, Time, AgeGrp, AgeGrpStart, AgeGrpSpan, PopMale, PopFemale, PopTotal]
Index: []

In [16]:
pop_30_39.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45969 entries, 0 to 45975
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LocID        45969 non-null  float64
 1   Location     45969 non-null  object
 2   Time         45969 non-null  float64
 3   AgeGrp       45969 non-null  object
 4   AgeGrpStart  45969 non-null  float64
 5   AgeGrpSpan   45969 non-null  float64
 6   PopMale      45969 non-null  float64
 7   PopFemale    45969 non-null  float64
 8   PopTotal     45969 non-null  float64
dtypes: float64(7), object(2)
memory usage: 3.5+ MB

In [17]:
pop_30_39 = pop_30_39.drop(columns=['AgeGrpStart','AgeGrpSpan','PopTotal'])

In [18]:
pop_30_39

       LocID             Location    Time   AgeGrp   PopMale  PopFemale
0        4.0          Afghanistan  2030.0      0-4  3020.571   2871.955
1        8.0              Albania  2030.0      0-4    68.824     63.581
2       12.0              Algeria  2030.0      0-4  2116.681   2026.749
3       24.0               Angola  2030.0      0-4  3714.206   3649.187
4       28.0  Antigua and Barbuda  2030.0      0-4     3.452      3.354
...      ...                  ...     ...      ...       ...        ...
45971  308.0              Grenada  2040.0  100-104     0.001      0.004
45972  426.0              Lesotho  2040.0  100-104     0.001      0.009
45973  516.0              Namibia  2040.0  100-104     0.001      0.003
45974  690.0           Seychelles  2040.0  100-104     0.001      0.007
45975  776.0                Tonga  2040.0  100-104     0.001      0.000

[45969 rows x 6 columns]

In [19]:
pop_30_39.rename(columns={'Time': 'Year'}, inplace=True)

In [20]:
pop_30_39

       LocID             Location    Year   AgeGrp   PopMale  PopFemale
0        4.0          Afghanistan  2030.0      0-4  3020.571   2871.955
1        8.0              Albania  2030.0      0-4    68.824     63.581
2       12.0              Algeria  2030.0      0-4  2116.681   2026.749
3       24.0               Angola  2030.0      0-4  3714.206   3649.187
4       28.0  Antigua and Barbuda  2030.0      0-4     3.452      3.354
...      ...                  ...     ...      ...       ...        ...
45971  308.0              Grenada  2040.0  100-104     0.001      0.004
45972  426.0              Lesotho  2040.0  100-104     0.001      0.009
45973  516.0              Namibia  2040.0  100-104     0.001      0.003
45974  690.0           Seychelles  2040.0  100-104     0.001      0.007
45975  776.0                Tonga  2040.0  100-104     0.001      0.000

[45969 rows x 6 columns]

In [21]:
pop_30_39['AgeGrp']

0            0-4
1            0-4
2            0-4
3            0-4
4            0-4
          ...
45971    100-104
45972    100-104
45973    100-104
45974    100-104
45975    100-104
Name: AgeGrp, Length: 45969, dtype: object

In [22]:
pop_30_39['LocID'] = pop_30_39['LocID'].astype(int)

In [23]:
pop_30_39['Year'] = pop_30_39['Year'].astype(int)

In [24]:
pop_30_39['AgeGrp'].unique()        # shows the distinct values, including nan

array(['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '95-99', '100-104'],
      dtype=object)

In [25]:
pop_30_39.info()

<class 'pandas.core.frame.DataFrame'>
Index: 45969 entries, 0 to 45975
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LocID      45969 non-null  int64
 1   Location   45969 non-null  object
 2   Year       45969 non-null  int64
 3   AgeGrp     45969 non-null  object
 4   PopMale    45969 non-null  float64
 5   PopFemale  45969 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 2.5+ MB

In [26]:
pop_30_39.to_csv('./clean_datasets/population-2030-2040.csv', index=False)