In [1]:
import pandas as pd
import numpy as np
pop_20_29 = pd.read_csv("./databases/population-2020-2029.csv")

In [2]:
pop_20_29.head()

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,4,Afghanistan,2020,0-4,0,5,2907.406,2765.103,5672.509
1,8,Albania,2020,0-4,0,5,86.564,79.714,166.278
2,12,Algeria,2020,0-4,0,5,2574.062,2467.456,5041.518
3,24,Angola,2020,0-4,0,5,2923.514,2871.49,5795.004
4,28,Antigua and Barbuda,2020,0-4,0,5,3.73,3.625,7.355

In [3]:
pop_20_29.describe()

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
count,41795,41795,41795,41795,41795,41795,41795,41795,41795
unique,200,200,11,22,22,3,35589,36266,37849
top,4,Afghanistan,2020,0-4,0,5,0.001,0,0
freq,210,210,4179,1990,1990,39800,187,85,85

In [4]:
pop_20_29.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41795 entries, 0 to 41794
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LocID        41795 non-null  object
 1   Location     41795 non-null  object
 2   Time         41795 non-null  object
 3   AgeGrp       41795 non-null  object
 4   AgeGrpStart  41795 non-null  object
 5   AgeGrpSpan   41795 non-null  object
 6   PopMale      41795 non-null  object
 7   PopFemale    41795 non-null  object
 8   PopTotal     41795 non-null  object
dtypes: object(9)
memory usage: 2.9+ MB

In [5]:
pop_20_29.describe(include=[object])

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
count,41795,41795,41795,41795,41795,41795,41795,41795,41795
unique,200,200,11,22,22,3,35589,36266,37849
top,4,Afghanistan,2020,0-4,0,5,0.001,0,0
freq,210,210,4179,1990,1990,39800,187,85,85

In [6]:
pop_20_29.isna().sum()

LocID          0
Location       0
Time           0
AgeGrp         0
AgeGrpStart    0
AgeGrpSpan     0
PopMale        0
PopFemale      0
PopTotal       0
dtype: int64

In [7]:
pop_20_29['LocID'].sort_values()

37840        100
37243        100
17542        100
14358        100
26298        100
          ...
91       NO DATA
90       NO DATA
89       NO DATA
88       NO DATA
87       NO DATA
Name: LocID, Length: 41795, dtype: object

In [8]:
pop_20_29.query('LocID == "NO DATA"')

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
87,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA
88,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA
89,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA
90,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA
91,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA,NO DATA

In [9]:
pop_20_29 = pop_20_29[pop_20_29['LocID'] != "NO DATA"]

In [10]:
pop_20_29.query('LocID == "NO DATA"')

Empty DataFrame
Columns: [LocID, Location, Time, AgeGrp, AgeGrpStart, AgeGrpSpan, PopMale, PopFemale, PopTotal]
Index: []

In [11]:
pop_20_29.describe()

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
count,41790,41790,41790,41790,41790,41790,41790,41790,41790
unique,199,199,10,21,21,2,35588,36265,37848
top,4,Afghanistan,2020,0-4,0,5,0.001,0,0
freq,210,210,4179,1990,1990,39800,187,85,85

In [12]:
pop_20_29['LocID'] = pop_20_29['LocID'].astype(int)

In [13]:
pop_20_29.loc[:, 'LocID'] = pop_20_29['LocID'].astype(int)

In [14]:
pop_20_29.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41790 entries, 0 to 41794
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   LocID        41790 non-null  int64
 1   Location     41790 non-null  object
 2   Time         41790 non-null  object
 3   AgeGrp       41790 non-null  object
 4   AgeGrpStart  41790 non-null  object
 5   AgeGrpSpan   41790 non-null  object
 6   PopMale      41790 non-null  object
 7   PopFemale    41790 non-null  object
 8   PopTotal     41790 non-null  object
dtypes: int64(1), object(8)
memory usage: 3.2+ MB

In [15]:
pop_20_29 = pop_20_29.drop(columns=['AgeGrpStart', 'AgeGrpSpan','PopTotal'])

In [16]:
pop_20_29

       LocID             Location  Time AgeGrp   PopMale PopFemale
0          4          Afghanistan  2020    0-4  2907.406  2765.103
1          8              Albania  2020    0-4    86.564    79.714
2         12              Algeria  2020    0-4  2574.062  2467.456
3         24               Angola  2020    0-4  2923.514   2871.49
4         28  Antigua and Barbuda  2020    0-4      3.73     3.625
...      ...                  ...   ...    ...       ...       ...
41790    430              Liberia  2029   100+     0.001     0.001
41791    516              Namibia  2029   100+     0.001     0.003
41792    686              Senegal  2029   100+     0.001     0.011
41793    690           Seychelles  2029   100+     0.001     0.006
41794    894               Zambia  2029   100+     0.001     0.007

[41790 rows x 6 columns]

In [17]:
pop_20_29 = pop_20_29.rename(columns = {'Time':'Year'})

In [18]:
pop_20_29

       LocID             Location  Year AgeGrp   PopMale PopFemale
0          4          Afghanistan  2020    0-4  2907.406  2765.103
1          8              Albania  2020    0-4    86.564    79.714
2         12              Algeria  2020    0-4  2574.062  2467.456
3         24               Angola  2020    0-4  2923.514   2871.49
4         28  Antigua and Barbuda  2020    0-4      3.73     3.625
...      ...                  ...   ...    ...       ...       ...
41790    430              Liberia  2029   100+     0.001     0.001
41791    516              Namibia  2029   100+     0.001     0.003
41792    686              Senegal  2029   100+     0.001     0.011
41793    690           Seychelles  2029   100+     0.001     0.006
41794    894               Zambia  2029   100+     0.001     0.007

[41790 rows x 6 columns]

In [19]:
pop_20_29['Year'] = pop_20_29['Year'].astype(int)
pop_20_29['PopMale'] = pop_20_29['PopMale'].astype(float)
pop_20_29['PopFemale'] = pop_20_29['PopFemale'].astype(float)
#pop_20_29['PopTotal'] = pop_20_29['PopTotal'].astype(float)

In [20]:
pop_20_29.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41790 entries, 0 to 41794
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LocID      41790 non-null  int64
 1   Location   41790 non-null  object
 2   Year       41790 non-null  int64
 3   AgeGrp     41790 non-null  object
 4   PopMale    41790 non-null  float64
 5   PopFemale  41790 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 2.2+ MB

In [21]:
pop_20_29['AgeGrp'].unique()

array(['0-4', '05. Sep', 'Okt 14', '15-19', '20-24', '25-29', '30-34',
       '35-39', '40-44', '45-49', '50-54', '55-59', '60-64', '65-69',
       '70-74', '75-79', '80-84', '85-89', '90-94', '905. Sep9', '100+'],
      dtype=object)

In [22]:
pop_20_29['AgeGrp'].replace({
    '05. Sep': '5-9',
    'Okt 14': '10-14',
    '905. Sep9': '95-99',
    '100+': '100-104'
}, inplace=True)

C:\Users\sonal\AppData\Local\Temp\ipykernel_20308\1529085961.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  pop_20_29['AgeGrp'].replace({

In [23]:
pop_20_29['AgeGrp'].unique()

array(['0-4', '5-9', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39',
       '40-44', '45-49', '50-54', '55-59', '60-64', '65-69', '70-74',
       '75-79', '80-84', '85-89', '90-94', '95-99', '100-104'],
      dtype=object)

In [24]:
pop_20_29[['PopMale', 'PopFemale']].describe()

            PopMale     PopFemale
count  41790.000000  41790.000000
mean     974.626646    958.713918
std     4457.746691   4156.420948
min        0.000000      0.000000
25%       10.294000     12.410250
50%      107.437500    115.859000
75%      508.733750    520.880250
max    66768.299000  62295.742000

In [25]:

pop_20_29 = pop_20_29.rename(columns={'Time': 'Year'})

In [26]:
pop_20_29.info()

<class 'pandas.core.frame.DataFrame'>
Index: 41790 entries, 0 to 41794
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   LocID      41790 non-null  int64
 1   Location   41790 non-null  object
 2   Year       41790 non-null  int64
 3   AgeGrp     41790 non-null  object
 4   PopMale    41790 non-null  float64
 5   PopFemale  41790 non-null  float64
dtypes: float64(2), int64(2), object(2)
memory usage: 2.2+ MB

In [27]:
pop_20_29.to_csv("./clean_datasets/population-2020-2029.csv", index=False)