In [1]:
import numpy as np

In [4]:
l2 = [[1,2,3],[4,5,6]]
print(f"Array l2: {l2},type: {type(l2)},len: {len(l2)}")

Array l2: [[1, 2, 3], [4, 5, 6]],type: <class 'list'>,len: 2

In [2]:
a2 = np.array([[1,2,3],[4,5,6]])
print(f"Array a2: {a2},type: {type(a2)},len: {len(a2)},shape: {a2.shape}")

Array a2: [[1 2 3]
 [4 5 6]],type: <class 'numpy.ndarray'>,len: 2,shape: (2, 3)

In [ ]:
dtype(np)

TypeError: dtype() missing required argument 'dtype' (pos 1)

In [6]:
l1 = [1,2,3]
l2 = [4,5,6]

l3 = l1+l2
print(f"List l3: {l3},type: {type(l3)},len: {len(l3)}")

List l3: [1, 2, 3, 4, 5, 6],type: <class 'list'>,len: 6

In [7]:
l1_1 = np.array(l1)
l2_1 = np.array(l2)
l3_1 = l1_1+l2_1
print(f"Array l3_1: {l3_1},type: {type(l3_1)},len: {len(l3_1)},shape: {l3_1.shape}")

Array l3_1: [5 7 9],type: <class 'numpy.ndarray'>,len: 3,shape: (3,)

In [ ]:
lvnp1 = np.array(l1)
print()

In [11]:
fruits = ['apple', 'banana', 'cherry']
for index, fruit in enumerate(fruits):
    print(index, fruit)

animal = ['Elephant', "Lion",'Cat']
for ani in animal:
    print("1",ani)

0 apple
1 banana
2 cherry
1 Elephant
1 Lion
1 Cat

In [16]:
nums = [1, 2, 3, 4]
mapp = map(lambda x: x * 2, nums)
print(nums)

[1, 2, 3, 4]

In [17]:
l = {x: x*x for x in range(5)}
l

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}