In [1]:
import pandas as pd

In [ ]:
p_10_19 = pd.read_csv("./databases/population-2010-2019.csv", delimiter=",",skiprows = 2)

LocID              233
Location       Estonia
Time            2010.0
AgeGrp           20-24
AgeGrpStart       20.0
AgeGrpSpan         5.0
PopMale         52.056
PopFemale       48.828
PopTotal       100.884
Name: 860, dtype: object

In [21]:
p_10_19

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,4,Afghanistan,2010.0,0-4,0.0,5.0,2715.070,2600.535,5315.605
1,8,Albania,2010.0,0-4,0.0,5.0,92.622,81.239,173.861
2,12,Algeria,2010.0,0-4,0.0,5.0,1966.415,1885.869,3852.284
3,24,Angola,2010.0,0-4,0.0,5.0,2233.041,2239.035,4472.076
4,28,Antigua and Barbuda,2010.0,0-4,0.0,5.0,3.543,3.436,6.979
...,...,...,...,...,...,...,...,...,...
41790,430,Liberia,2019.0,100+,100.0,-1.0,0.000,0.000,0.000
41791,882,Samoa,2019.0,100+,100.0,-1.0,0.000,0.000,0.000
41792,768,Togo,2019.0,100+,100.0,-1.0,0.000,0.000,0.000
41793,776,Tonga,2019.0,100+,100.0,-1.0,0.000,0.000,0.000
41794,548,Vanuatu,2019.0,100+,100.0,-1.0,0.000,0.000,0.000

In [20]:
print(p_10_19.loc[860])

LocID              233
Location       Estonia
Time            2010.0
AgeGrp           20-24
AgeGrpStart       20.0
AgeGrpSpan         5.0
PopMale         52.056
PopFemale       48.828
PopTotal       100.884
Name: 860, dtype: object

In [ ]:
print(p_10_19.loc[860])

In [34]:
# either using boolean indexing
result = p_10_19[ (p_10_19['LocID'] == 860) | (p_10_19['LocID'] == 4) ]

# …or explicitly with .loc
#result = p_10_19.loc[ p_10_19['LocID'] == 860 ]

result

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
0,4,Afghanistan,2010.0,0-4,0.0,5.0,2715.070,2600.535,5315.605
197,860,Uzbekistan,2010.0,0-4,0.0,5.0,1512.462,1433.415,2945.877
204,4,Afghanistan,2010.0,05. Sep,5.0,5.0,2423.963,2309.286,4733.249
396,860,Uzbekistan,2010.0,05. Sep,5.0,5.0,1305.248,1245.233,2550.481
403,4,Afghanistan,2010.0,Okt 14,10.0,5.0,2053.118,1959.068,4012.186
...,...,...,...,...,...,...,...,...,...
40935,860,Uzbekistan,2017.0,100+,100.0,-1.0,0.137,0.527,0.664
40939,4,Afghanistan,2018.0,100+,100.0,-1.0,0.010,0.025,0.035
41083,860,Uzbekistan,2018.0,100+,100.0,-1.0,0.119,0.469,0.588
41087,4,Afghanistan,2019.0,100+,100.0,-1.0,0.010,0.027,0.037
41232,860,Uzbekistan,2019.0,100+,100.0,-1.0,0.105,0.421,0.526

In [28]:
p_10_19.query('LocID == 860' or 'LocID' == 4)

,LocID,Location,Time,AgeGrp,AgeGrpStart,AgeGrpSpan,PopMale,PopFemale,PopTotal
197,860,Uzbekistan,2010.0,0-4,0.0,5.0,1512.462,1433.415,2945.877
396,860,Uzbekistan,2010.0,05. Sep,5.0,5.0,1305.248,1245.233,2550.481
595,860,Uzbekistan,2010.0,Okt 14,10.0,5.0,1437.926,1373.920,2811.846
794,860,Uzbekistan,2010.0,15-19,15.0,5.0,1643.865,1565.097,3208.962
993,860,Uzbekistan,2010.0,20-24,20.0,5.0,1555.045,1524.627,3079.672
...,...,...,...,...,...,...,...,...,...
40646,860,Uzbekistan,2015.0,100+,100.0,-1.0,0.188,0.664,0.852
40790,860,Uzbekistan,2016.0,100+,100.0,-1.0,0.160,0.593,0.753
40935,860,Uzbekistan,2017.0,100+,100.0,-1.0,0.137,0.527,0.664
41083,860,Uzbekistan,2018.0,100+,100.0,-1.0,0.119,0.469,0.588
41232,860,Uzbekistan,2019.0,100+,100.0,-1.0,0.105,0.421,0.526